<!DOCTYPE html>
<html>
<head>
  <title>Street Art Reports</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style>
    .offensive {
      background-color: #39E23D;
      color: #FE9798;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="pull-left" height="50" src="http://25.media.tumblr.com/8497dd9782607b2c1504e12ccfc11faa/tumblr_n3bwzlTwc01trnnsko1_1280.jpg">
        <p class="navbar-text">Photos make data sexy. Click on a Case ID to see photos and a map.</p>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
